{% extends 'base.html' %}

{% block content %}

<h1>Nuestra Huerta</h1>
<div class="row">
    {% for product in products %}
    <div class="col-auto">
        <div class="card" style="width: 21rem;">
            <img src="{{ product.image_url }}" class="card-img-top" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">${{ product.price }}</p>
                <a href="#" class="btn btn-primary">Agregar al Carrito</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}